{% extends "blog/base.html" %}

{% block content %}

    <div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.text }}</p>
      {% if user.is_authenticated %}
      <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary">Update post</a>
          <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-primary">Delete post</a>
          {% if post.published_date is None %}
              <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish post</a>
              {% endif %}
      {% endif %}
    <a href="{% url 'posts_by_author' author=post.author %}" class="btn btn-primary">Go to {{ post.author }} posts</a>
  </div>
  <div class="card-footer text-body-secondary">
    Created {{ post.created_date }}
  </div>
</div>

{% endblock %}